<div class="row">
	<div class="col-md-12">
		<form role="form" ng-submit="save()">
		  <fieldset>
		    <div class="form-group">
		      <label for="propertyName">Property Name</label>
		      <input type="text" id="propertyName" class="form-control" ng-model="property.name">
		    </div>
		    <div class="form-group">
		      <label for="propertyCost">Cost</label>
		      <input type="number" id="propertyCost" class="form-control" ng-model="property.rate">
		    </div>
		    <button type="submit" class="btn pull-right btn-primary">Save</button>
		  </fieldset>
		</form>
	</div>
</div>
