<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h1>{{property.name}} <small>5 bedrooms</small></h1>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<h3>Features</h3>
		<ul class="media-list">
		  <li class="media">
		    <a class="pull-left">
		      <img class="media-object" src="http://lorempixel.com/64/64/city/" alt="...">
		    </a>
		    <div class="media-body">
		      <h4 class="media-heading">Near the big city</h4>
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua.
		    </div>
		  </li>
		  <li class="media">
		    <a class="pull-left">
		      <img class="media-object" src="http://lorempixel.com/64/64/nature/" alt="...">
		    </a>
		    <div class="media-body">
		      <h4 class="media-heading">Great walking trails</h4>
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua.
		    </div>
		  </li>
		  <li class="media">
		    <a class="pull-left">
		      <img class="media-object" src="http://lorempixel.com/64/64/food/" alt="...">
		    </a>
		    <div class="media-body">
		      <h4 class="media-heading">5 star restaurants</h4>
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua.
		    </div>
		  </li>
		  <li class="media">
		    <a class="pull-left">
		      <img class="media-object" src="http://lorempixel.com/64/64/people/" alt="...">
		    </a>
		    <div class="media-body">
		      <h4 class="media-heading">Sometimes people are here</h4>
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua.
		    </div>
		  </li>
		</ul>
	</div>
	<div class="col-md-4">
		<img src="http://lorempixel.com/450/300/city/" alt="{{property.name}}" class="img-thumbnail">
		<img src="http://lorempixel.com/450/300/nature/" alt="{{property.name}}" class="img-thumbnail">
		<img src="http://lorempixel.com/450/300/food/" alt="{{property.name}}" class="img-thumbnail">
		<img src="http://lorempixel.com/450/300/people/" alt="{{property.name}}" class="img-thumbnail">
	</div>
</div>
